body {
  background:white;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  color:black;
}
h5 {
  color:black;
}
.font {
  font-family:fantasy;
  color:rgb(210, 220, 130 );
}
.intro {
  width: 500px;
}
div.order{
  text-align: center;
  color: red;
  height: 130px;
  width:144px;
  float:left;
  border-color: yellow;
  border-style: solid;
  background: black;
}
.image{
  position:relative;
}
