body {
  background: black;
}
p {
  color: black;
  background-color:white;
}
h1 {
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
  color: white;
}
ul {
color: black;
background-color:white;
}
